@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #57BAE6 1.84%, #FEF9ED 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #DE7456 -13.86%, #E9A896 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #ee6c4d;
}
